In [4]:
import pandas as pd

In [5]:
original = pd.read_csv('./practice_data/0813-bomin.csv').dropna(subset=['기록자'])

In [156]:
original.head(5)

,날짜,기록 시간,기록자,호선,탑승역,하차역,붐빔 정도,노약자석 빈자리 여부,성별,비어있었던 역 수,연령대,뱃지 여부,임산부 여부,무거운 짐 여부,행동,기타 특이사항,짐 종류
0,2019. 7. 31,19:10,재민,5호선,공덕,여의도,N,NaN,여,NaN,중년,X,X,X,"이어폰, 핸드폰",NaN,"쇼핑백, 장우산"
1,2019. 7. 31,19:21,재민,9호선,여의도,신논현,F,NaN,여,NaN,중년,X,X,X,핸드폰,임산부석 비워달라는 방송이 나왔으나 아랑곳하지 않음,NaN
2,2019. 7. 31,19:28,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,X,X,핸드폰,NaN,NaN
3,2019. 7. 31,19:32,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
4,2019. 7. 31,22:38,재민,분당선,선정릉,야탑,F,NaN,여,NaN,청년,O,O,X,"핸드폰, 대화",NaN,NaN

In [157]:
len(original)

564

In [9]:
original.dtypes

날짜              object
기록 시간           object
기록자             object
호선              object
탑승역             object
하차역             object
붐빔 정도           object
노약자석 빈자리 여부     object
성별              object
비어있었던 역 수      float64
연령대             object
뱃지 여부           object
임산부 여부          object
무거운 짐 여부        object
행동              object
기타 특이사항         object
짐 종류            object
dtype: object

In [15]:
original['날짜'] = pd.to_datetime(original['날짜']).dt.date

In [19]:
original['기록시간'] = pd.to_datetime(original['기록 시간'], format='%H:%M').dt.time

In [20]:
original.dtypes

날짜              object
기록 시간           object
기록자             object
호선              object
탑승역             object
하차역             object
붐빔 정도           object
노약자석 빈자리 여부     object
성별              object
비어있었던 역 수      float64
연령대             object
뱃지 여부           object
임산부 여부          object
무거운 짐 여부        object
행동              object
기타 특이사항         object
짐 종류            object
기록시간            object
dtype: object

## 1. 임산부석 착석자 성별 ##

In [23]:
occupied = original[original['성별'] != '비었음']

In [24]:
occupied.head(10)

,날짜,기록 시간,기록자,호선,탑승역,하차역,붐빔 정도,노약자석 빈자리 여부,성별,비어있었던 역 수,연령대,뱃지 여부,임산부 여부,무거운 짐 여부,행동,기타 특이사항,짐 종류,기록시간
0,2019-07-31,19:10,재민,5호선,공덕,여의도,N,NaN,여,NaN,중년,X,X,X,"이어폰, 핸드폰",NaN,"쇼핑백, 장우산",19:10:00
1,2019-07-31,19:21,재민,9호선,여의도,신논현,F,NaN,여,NaN,중년,X,X,X,핸드폰,임산부석 비워달라는 방송이 나왔으나 아랑곳하지 않음,NaN,19:21:00
2,2019-07-31,19:28,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,X,X,핸드폰,NaN,NaN,19:28:00
3,2019-07-31,19:32,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,O,X,핸드폰,NaN,NaN,19:32:00
4,2019-07-31,22:38,재민,분당선,선정릉,야탑,F,NaN,여,NaN,청년,O,O,X,"핸드폰, 대화",NaN,NaN,22:38:00
5,2019-07-31,22:42,재민,분당선,선정릉,야탑,F,NaN,남,NaN,중년,X,X,X,핸드폰,NaN,NaN,22:42:00
6,2019-07-31,18:30,보민,6호선,공덕,화랑대,N,NaN,여,NaN,중년,X,X,X,NaN,옆자리가 나자 옮겨앉음,NaN,18:30:00
7,2019-07-31,18:30,보민,6호선,공덕,화랑대,N,NaN,여,NaN,청년,X,X,X,핸드폰,NaN,NaN,18:30:00
8,2019-07-31,18:30,보민,6호선,공덕,화랑대,N,NaN,여,NaN,중년,X,X,X,핸드폰,NaN,NaN,18:30:00
9,2019-07-31,18:30,보민,6호선,공덕,화랑대,N,NaN,여,NaN,중년,X,X,X,NaN,금방 내림,NaN,18:30:00

In [61]:
x = pd.DataFrame(occupied.groupby('성별')['날짜'].count()).rename(columns = {'날짜' : '총'})

In [62]:
x

      총
성별
남    92
여   310

In [70]:
x.append(x.sum().rename('total'))

         총
성별
남       92
여      310
total  402

In [79]:
#저 표에 percentage를 어떻게 넣을 수 있을까...

# 2. 호선별 빈자리 퍼센테이지

In [99]:
empty = pd.DataFrame(original[original['성별'] == '비었음'].groupby(['호선'])['날짜'].count()).rename(columns = {'날짜':'빈 횟수'})

In [100]:
pd.DataFrame(empty)

     빈 횟수
호선
1호선    49
5호선    42
6호선    35
7호선    11
9호선     3
분당선    22

In [101]:
# 각 호선을 다닌 사람 수와 지나간 역 수가 다 다른데....count의 합이 의미가 있을까요?

# 3. 붐빔정도와 실제 이용자와 상관관계

In [110]:
crowd_count = pd.DataFrame(original.groupby(['붐빔 정도'])['날짜'].count()).rename(columns = {'날짜':'count'})

In [111]:
crowd_count

       count
붐빔 정도
 N         1
E        112
F        234
N        217

In [106]:
#맨 위에 N은 뭘까요....?

In [112]:
crowd_count.append(crowd_count.sum().rename('total'))

       count
붐빔 정도
 N         1
E        112
F        234
N        217
total    564

In [113]:
crowd = pd.DataFrame(original.groupby(['붐빔 정도', '성별'])['날짜'].count()).rename(columns = {'날짜':'count'})

In [114]:
crowd

           count
붐빔 정도 성별
 N    비었음      1
E     남       12
      비었음     69
      여       31
F     남       42
      비었음     30
      여      162
N     남       38
      비었음     62
      여      117

In [ ]:
# 꽉찰 수록 빈자리로 남길 수 있는 경우가 줄어드네요~

# 3. 노년이 앉아있을 경우 노약자석 빈자리 여부

In [128]:
the_eldery = pd.DataFrame(original[original['연령대'] == '노년'].groupby(['노약자석 빈자리 여부'])['날짜'].count()).rename(columns = {'날짜':'노년 이용자 수'})

In [129]:
the_eldery

             노년 이용자 수
노약자석 빈자리 여부
O                  31
X                  29

In [123]:
#노약자석 빈자리와는 상관이 없네요..

# 4. 전체 앉은 사람 중 임산부 퍼센테이지

In [178]:
the_pregnant = pd.DataFrame(original[(original['임산부 여부']=='O') & (original['성별']!='비었음')])

In [179]:
the_pregnant

,날짜,기록 시간,기록자,호선,탑승역,하차역,붐빔 정도,노약자석 빈자리 여부,성별,비어있었던 역 수,연령대,뱃지 여부,임산부 여부,무거운 짐 여부,행동,기타 특이사항,짐 종류
3,2019. 7. 31,19:32,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
4,2019. 7. 31,22:38,재민,분당선,선정릉,야탑,F,NaN,여,NaN,청년,O,O,X,"핸드폰, 대화",NaN,NaN
20,2019. 8. 1,13:27,한솔,2호선,신림,신도림,E,O,여,NaN,청년,O,O,X,핸드폰,NaN,NaN
22,2019. 8. 1,13:43,한솔,1호선,신도림,병점,F,X,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
72,2019. 8. 2,9:19,재민,5호선,왕십리,공덕,E,X,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
101,2019. 8. 3,10:32,현미,6호선,불광,경복궁,F,X,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
131,2019. 8. 3,18:23,재민,분당선,왕십리,야탑,N,X,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
162,2019. 8. 5,8:27,한솔,1호선,병점,신길,F,O,여,NaN,청년,O,O,X,"핸드폰, 이어폰",NaN,NaN
179,2019. 8. 5,8:29,재민,분당선,야탑,왕십리,F,X,여,NaN,청년,O,O,X,핸드폰,NaN,NaN
193,2019. 8. 5,18:48,미현,1호선,신길,수원,N,X,여,NaN,청년,O,O,X,핸드폰,NaN,크로스백
199,2019. 8. 5,8:55,보민,6호선,화랑대,공덕,N,X,여,NaN,청년,O,O,X,NaN,NaN,NaN
222,2019. 8. 5,21:37,재민,분당선,서울숲,강남구청,E,O,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
249,2019. 8. 7,9:08,한솔,1호선,병점,신길,F,O,여,NaN,청년,O,O,X,"이어폰, 잠",NaN,NaN
252,2019. 8. 7,9:16,보민,6호선,화랑대,공덕,N,X,여,NaN,청년,X,O,O,핸드폰,NaN,"에코백, 장우산"
312,2019. 8. 7,19:17,단비,1호선,신도림,온수,F,X,여,NaN,청년,O,O,X,전화,NaN,크로스백
346,2019. 8. 8,9:23,재민,5호선,왕십리,공덕,N,X,여,NaN,청년,X,O,X,"핸드폰, 이어폰",NaN,NaN
360,2019. 8. 8,17:53,보민,6호선,공덕,화랑대,N,O,여,NaN,청년,O,O,X,핸드폰,NaN,백팩
478,2019. 8. 12,8:44,미현,1호선,수원,신길,E,O,여,NaN,청년,O,O,X,핸드폰,NaN,"핸드백, 장대우산"
493,2019. 8. 12,21:15,미현,5호선,공덕,신길,F,O,여,NaN,청년,O,O,X,핸드폰,NaN,핸드백
503,2019. 8. 12,8:47,재민,분당선,야탑,왕십리,F,X,여,NaN,청년,X,O,NaN,핸드폰,NaN,"핸드백, 에코백, 장우산"
545,2019. 8. 13,9:44,재민,5호선,왕십리,공덕,E,O,여,NaN,청년,O,O,X,핸드폰,옆자리에 있다가 임산부석이 비니까 옮김,NaN

In [194]:
len(the_pregnant)/original['날짜'].count()*100

3.723404255319149

### 호선별 임산부 수

In [183]:
pd.DataFrame(the_pregnant.groupby('호선')['날짜'].count()).rename(columns = {'날짜':'실제 임산부 수'})

     실제 임산부 수
호선
1호선         6
2호선         1
5호선         4
6호선         4
9호선         1
분당선         5

### 붐빔 정도에 따른 임산부 수

In [184]:
pd.DataFrame(the_pregnant.groupby('붐빔 정도')['날짜'].count()).rename(columns = {'날짜':'실제 임산부 수'})

       실제 임산부 수
붐빔 정도
E             5
F            10
N             6

# 4. 일반석이 남아있을때 임산부석에 앉아있는 사람의 디테일

In [ ]:
#이제 힘들다...머리가 안돌아간다...단게 먹고 싶은데 언제 쉬는시간이 올까.....

In [204]:
assholes = pd.DataFrame(original[(original['붐빔 정도']=='E')&(original['성별']!='비었음')&(original['임산부 여부']=='X')])

In [205]:
assholes

,날짜,기록 시간,기록자,호선,탑승역,하차역,붐빔 정도,노약자석 빈자리 여부,성별,비어있었던 역 수,연령대,뱃지 여부,임산부 여부,무거운 짐 여부,행동,기타 특이사항,짐 종류
19,2019. 8. 1,13:27,한솔,2호선,신림,신도림,E,O,여,NaN,중년,X,X,X,이어폰,일반석이 비어있음에도 불구하고 임산부석 착석,NaN
34,2019. 8. 1,21:50,재민,7호선,태릉입구,강남구청,E,O,여,NaN,청년,X,X,X,핸드폰,외국인,NaN
36,2019. 8. 1,21:59,재민,7호선,태릉입구,강남구청,E,O,여,NaN,중년,X,X,X,잠,NaN,NaN
82,2019. 8. 2,17:57,한솔,1호선,신길,병점,E,O,남,NaN,노년,X,X,NaN,멍,NaN,많이 비어보이는 백팩
96,2019. 8. 3,9:19,한솔,1호선,병점,종각,E,O,여,NaN,노년,X,X,X,멍,NaN,NaN
97,2019. 8. 3,9:19,한솔,1호선,병점,종각,E,O,여,NaN,노년,X,X,NaN,멍,NaN,비교적 작은 백팩
100,2019. 8. 3,10:13,한솔,1호선,병점,종각,E,O,여,NaN,노년,X,X,X,NaN,NaN,NaN
141,2019. 8. 3,9:50,보민,6호선,화랑대,청구,E,O,여,NaN,노년,X,X,X,미어캣,다음에 바로 내림,NaN
142,2019. 8. 3,9:50,보민,6호선,화랑대,청구,E,O,여,NaN,노년,X,X,O,전단지 정독,NaN,소형 구루마
148,2019. 8. 3,10:13,보민,5호선,청구,경복궁,E,O,여,NaN,노년,X,X,X,묵주 돌리기,NaN,핸드백
149,2019. 8. 3,10:13,보민,5호선,청구,경복궁,E,O,남,NaN,노년,X,X,X,"봉에 팔 걸침, 미어캣",NaN,NaN
150,2019. 8. 3,10:20,보민,5호선,청구,경복궁,E,O,여,NaN,중년,X,X,X,핸드폰,옆 자리에 앉아서 가방을 임산부석에 올려놓음,NaN
153,2019. 8. 3,19:30,보민,6호선,광화문,화랑대,E,O,남,NaN,중년,X,X,X,통화,한쪽 다리로 임산부석에 걸터 앉음,일수가방
154,2019. 8. 3,18:03,단비,1호선,종각,온수,E,X,남,NaN,노년,X,X,X,공부,NaN,봉지(미니)
155,2019. 8. 3,18:03,단비,1호선,종각,온수,E,X,여,NaN,중년,X,X,X,대화,NaN,NaN
159,2019. 8. 3,18:46,단비,7호선,까치울,춘의,E,X,여,NaN,중년,X,X,X,잠,옆 자리가 비어서 춘의역부터는 일반석에 앉음,NaN
163,2019. 8. 3,8:36,미현,1호선,수원,신길,E,O,남,NaN,중년,X,X,X,핸드폰,NaN,백팩
185,2019. 8. 5,9:13,재민,5호선,왕십리,공덕,E,O,여,NaN,청년,X,X,X,핸드폰,NaN,NaN
190,2019. 8. 5,9:30,현미,6호선,합정,공덕,E,X,남,NaN,청년,X,X,X,핸드폰,NaN,크로스백
232,2019. 8. 5,9:10,단비,5호선,신길,공덕,E,X,여,NaN,청년,X,X,X,잠,NaN,크로스백
259,2019. 8. 7,9:39,보민,6호선,화랑대,공덕,E,O,여,NaN,중년,X,X,X,미어캣,반대줄에 자리가 나자 옮겨앉음,"손가방, 물"
297,2019. 8. 7,21:19,재민,5호선,공덕,왕십리,E,O,남,NaN,청년,X,X,X,핸드폰,7석 중 5석이 비어있는 와중에 임산부석 옆자리에 앉아있던 남자가 임산부석으로 옮김,NaN
300,2019. 8. 7,21:46,재민,분당선,왕십리,야탑,E,O,여,NaN,중년,X,X,X,핸드폰 -> 독서,NaN,"백팩, 핸드백"
352,2019. 8. 8,9:26,현미,6호선,합정,공덕,E,O,남,NaN,청년,X,X,X,핸드폰,NaN,NaN
396,2019. 8. 9,8:23,한솔,1호선,병점,신길,E,O,여,NaN,청년,X,X,NaN,핸드폰,NaN,"백팩, 에코백"
421,2019. 8. 9,9:09,재민,분당선,야탑,왕십리,E,O,여,NaN,중년,X,X,X,멍,빈 자리 많은데도 임산부석에 앉았다가 1개 역 후에 내림,NaN
439,2019. 8. 9,19:54,한솔,1호선,신길,병점,E,O,남,NaN,중년,X,X,X,핸드폰,NaN,NaN
463,2019. 8. 9,19:26,보민,9호선,노량진,노들,E,X,여,NaN,청년,X,X,X,핸드폰,"옆자리가 비었는데 임산부석 앉음, 한정거장 가서 내림",NaN
475,2019. 8. 12,8:00,한솔,1호선,병점,신길,E,O,여,NaN,중년,X,X,X,핸드폰,빈자리가 많았음에도 불구하고 굳이 임산부석 착석,NaN
476,2019. 8. 12,8:12,한솔,1호선,수원,병점,E,O,여,NaN,중년,X,X,X,핸드폰,NaN,NaN
480,2019. 8. 12,8:44,미현,1호선,수원,신길,E,O,여,NaN,중년,X,X,X,멍,NaN,"핸드백, 우산(중), 미니쇼핑백"
491,2019. 8. 12,19:10,한솔,1호선,신길,병점,E,O,여,NaN,중년,X,X,NaN,대화,핸드백,NaN
492,2019. 8. 12,19:10,한솔,1호선,신길,병점,E,O,남,NaN,어린이,X,X,X,"핸드폰, 대화",NaN,NaN
506,2019. 8. 12,9:17,재민,분당선,야탑,왕십리,E,O,여,NaN,중년,X,X,X,멍,NaN,NaN
516,2019. 8. 12,21:22,재민,5호선,공덕,왕십리,E,O,여,NaN,청년,X,X,X,핸드폰,NaN,NaN
546,2019. 8. 13,9:47,재민,5호선,왕십리,공덕,E,O,남,NaN,청년,X,X,NaN,대화,NaN,백팩
552,2019. 8. 13,20:05,한솔,1호선,신길,병점,E,O,남,NaN,청년,X,X,NaN,"이어폰, 핸드폰",옆자리 비어있는데도 앉아있음,에코백
553,2019. 8. 13,20:07,한솔,1호선,신길,병점,E,O,여,NaN,청년,X,X,X,"핸드폰, 이어폰",일반자리 앉아있다가 임산부석 비니까 자리 옮김,NaN

In [206]:
len(assholes)

38

In [211]:
assholes[['성별', '연령대','무거운 짐 여부','행동','기타 특이사항','짐 종류']]

,성별,연령대,무거운 짐 여부,행동,기타 특이사항,짐 종류
19,여,중년,X,이어폰,일반석이 비어있음에도 불구하고 임산부석 착석,NaN
34,여,청년,X,핸드폰,외국인,NaN
36,여,중년,X,잠,NaN,NaN
82,남,노년,NaN,멍,NaN,많이 비어보이는 백팩
96,여,노년,X,멍,NaN,NaN
97,여,노년,NaN,멍,NaN,비교적 작은 백팩
100,여,노년,X,NaN,NaN,NaN
141,여,노년,X,미어캣,다음에 바로 내림,NaN
142,여,노년,O,전단지 정독,NaN,소형 구루마
148,여,노년,X,묵주 돌리기,NaN,핸드백
149,남,노년,X,"봉에 팔 걸침, 미어캣",NaN,NaN
150,여,중년,X,핸드폰,옆 자리에 앉아서 가방을 임산부석에 올려놓음,NaN
153,남,중년,X,통화,한쪽 다리로 임산부석에 걸터 앉음,일수가방
154,남,노년,X,공부,NaN,봉지(미니)
155,여,중년,X,대화,NaN,NaN
159,여,중년,X,잠,옆 자리가 비어서 춘의역부터는 일반석에 앉음,NaN
163,남,중년,X,핸드폰,NaN,백팩
185,여,청년,X,핸드폰,NaN,NaN
190,남,청년,X,핸드폰,NaN,크로스백
232,여,청년,X,잠,NaN,크로스백
259,여,중년,X,미어캣,반대줄에 자리가 나자 옮겨앉음,"손가방, 물"
297,남,청년,X,핸드폰,7석 중 5석이 비어있는 와중에 임산부석 옆자리에 앉아있던 남자가 임산부석으로 옮김,NaN
300,여,중년,X,핸드폰 -> 독서,NaN,"백팩, 핸드백"
352,남,청년,X,핸드폰,NaN,NaN
396,여,청년,NaN,핸드폰,NaN,"백팩, 에코백"
421,여,중년,X,멍,빈 자리 많은데도 임산부석에 앉았다가 1개 역 후에 내림,NaN
439,남,중년,X,핸드폰,NaN,NaN
463,여,청년,X,핸드폰,"옆자리가 비었는데 임산부석 앉음, 한정거장 가서 내림",NaN
475,여,중년,X,핸드폰,빈자리가 많았음에도 불구하고 굳이 임산부석 착석,NaN
476,여,중년,X,핸드폰,NaN,NaN
480,여,중년,X,멍,NaN,"핸드백, 우산(중), 미니쇼핑백"
491,여,중년,NaN,대화,핸드백,NaN
492,남,어린이,X,"핸드폰, 대화",NaN,NaN
506,여,중년,X,멍,NaN,NaN
516,여,청년,X,핸드폰,NaN,NaN
546,남,청년,NaN,대화,NaN,백팩
552,남,청년,NaN,"이어폰, 핸드폰",옆자리 비어있는데도 앉아있음,에코백
553,여,청년,X,"핸드폰, 이어폰",일반자리 앉아있다가 임산부석 비니까 자리 옮김,NaN

In [212]:
# 이건 어떻게 정리하면 좋을까요.. 행동과 무거운 짐 정리 해야겠어용...

In [218]:
pd.DataFrame(assholes.groupby('연령대')['날짜'].count()).rename(columns = {'날짜':'나쁜 사람 수'})

     나쁜 사람 수
연령대
노년         9
어린이        1
중년        16
청년        12

## 이건 그냥 재미로~

In [8]:
for_fun = original[(original['연령대']=='노년')&(original['행동']=='멍')]

In [10]:
for_fun['날짜'].count()

20